.home-page {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  .home-open {
    margin-top: 5rem;
    justify-content: space-between;
    align-items: center;

    .home-svg {
      width: 60%;
      transform: scaleX(-1);
    }
    .home-txt {
      font-family: gezer;
      width: 40%;
      text-align: right;
      direction: rtl;
      transform: translate(-30%, 0);

      .title2 {
        font-weight: 900;
        font-size: 1.5rem;
        color: $clr1;
        line-height: 5rem;
      }
      .title3 {
        font-weight: 900;
        font-size: 4rem;
        color: $clr1;
        line-height: 4rem;
      }
      .btn {
        background-color: $clr6;
      }
    }
  }

  .home-image-img {
    background-position: center;
    position: relative;
    background-size: cover;
  }

  .img-text {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 0;
    width: 40%;
    z-index: 1000;
    transform: translate(0, -50%);
    color: white;
    font-size: 2rem;
  }

  .learning-types {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
    border-radius: 40px;

    padding-top: 5rem;
    padding-bottom: 1rem;
    position: relative;

    h1,
    h6,
    h3 {
      padding: 0;
      margin: 5px;
    }

    .learning-titles {
      // border-radius: 20px;
      // background-color: rgb(249, 249, 249);
      // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      // width: 40%;
      padding: 2%;
      // position: absolute;
      top: 0;
      // left: 50%;
      // transform: translate(-50%, -50%);
      margin-bottom: 50px;
      direction: rtl;

      h1 {
        color: $clr5;
        font-size: 2rem;
        line-height: 2rem;
      }

      .sub-title {
        font-family: gezer;
        color: $clr5;
        font-size: 2rem;
        margin-top: 20px;
      }
    }

    .learning-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      // padding-top: 1rem;
      position: relative;

      .learning-item {
        width: 32%;
        margin: 0px;
        text-align: end;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        color: $clr1;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        img {
          width: 100%;
          height: auto;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 91%);
          border-radius: 20px 20px 0 0;
        }

        .learning-item-info {
          padding: 10px;
          color: $clr4;

          h3 {
            font-family: gezer;
            font-weight: 900;
            color: $clr5;
          }
        }
      }
      .learning-item * > {
        width: 90%;
      }
    }
  }

  .review-container {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    height: 200px;
    .review-btn {
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
      height: 50px;
      width: 50px;
      background-color: #ffffff;
      border: 0;
      border-radius: 50px;
      color: $clr1;
      cursor: pointer;
      display: inline-block;
      font-family: system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
      font-size: 18px;
      font-weight: 600;
      outline: 0;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    .review-btn:hover {
      box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
    }

    .review-btn:before {
      background-color: initial;
      background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
      border-radius: 125px;
      content: '';
      height: 50%;
      left: 4%;
      opacity: 0.5;
      position: absolute;
      top: 0;
      transition: all 0.3s;
      width: 92%;
    }

    .left-btn {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
    .right-btn {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translate(0, -50%);
    }

    .img-txt-cont {
      justify-content: space-between;
      text-align: end;
      height: 100%;
      width: 100%;
    }
    .review-img {
      height: 100%;
      width: auto;
    }
    .review-txt {
      height: 100%;
      width: 30%;
      position: relative;

      text-align: end;
      padding-right: 2rem;

      h6 {
        margin: 0;
        color: rgb(193, 193, 193);
      }

      .review-txt-sub {
        font-size: 1rem;
      }
      .review-txt-title {
        font-family: 'Noto Serif Hebrew', serif;
        color: $clr1;
        font-style: oblique;
        position: absolute;
        bottom: 50%;
        transform: translate(0, 50%);
        padding-right: 2rem;
      }
    }
  }

  .about-us {
    margin-top: 100px;
    text-align: center;
    background-color: $clr1;
    padding: 50px 0 50px 0;
    color: white;

    .about-title {
      font-family: gezer;
      font-size: xxx-large;
    }
    .about-sub-title {
      margin: 30px 0 40px 0;
    }
    .about-info-cont {
      justify-content: space-between;
      .about-img {
        width: 45%;
        height: auto;
        border-radius: 50px;
      }
      .about-info {
        width: 45%;
        height: auto;
        text-align: center;
        direction: rtl;
        position: relative;
        background-color: rgb(253, 253, 253);
        padding: 2em;
        border-radius: 50px;
        color: $clr5;
        word-spacing: 5px;
        font-size: 1rem;
        line-height: 1.7rem;
        margin: auto;
        height: fit-content;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        font-weight: bold;
      }
    }
  }

  .offer-container {
    width: 100%;
    direction: rtl;
    text-align: center;
   

    h1 {
      font-family: gezer;
      color: rgb(69, 69, 69);
      font-size: 2rem;
      color: $clr5;
    }
    h4 {
      color: $clr5;
    }
    .offer-list {
      display: grid;
      width: 100%;

      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      .offer {
        height: auto;
        width: 100%;
        margin-top: 40px;

        padding: 0 40px 0 40px;
        h4 {
          font-family: gezer;
          color: $clr5;
          margin-bottom: 0;
        }

        .offer-gif {
          width: 150px;
        }
        .offer-description {
          color: $clr5;
          padding: 0.4rem 00.4rem 0;
        }
      }
    }
  }
}
