.home-page {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  .home-image-img {
    border-end-end-radius: 70rem 70rem;
    box-shadow: 10px 10px 5px 0px rgba(10, 168, 121, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(10, 168, 121, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(10, 168, 121, 0.75);
    width: 99.8%;

    background-position: center;
    position: relative;
    background-size: cover;
  }

  .img-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    
    button {
      font-size: 1.5rem;
      color: white;
      background-color: $clr1;
      padding: 20px 40px;
      border-color: $clr2;
      border-radius: 20px;
    }
  }

  .red {
    background-color: $clr2;
    margin-top: 100px;
    .title-background {
      position: absolute;
      right: 0;
      background-color: $clr1;

      transform: translate(0, -10px);
      height: 50px;
      clip-path: polygon(100% 0, 100% 51%, 100% 100%, 0 100%, 5% 0);
      width: 60%;
    }

    .bi {
      width: 100%;

      height: 50px;
      display: flex;
      align-items: center;
      transform: translate(0, -10px);
      .hi {
        text-align: end;
        align-items: center;
        height: auto;
        color: white;

        width: 100%;
      }
    }
    .about-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .about {
        text-align: end;
        width: 60%;
      }

      .student-sticker {
        width: 30%;
        position: relative;
        bottom: 0px;
      }
    }
  }

  .learning-types {
    text-align: center;
    margin-top: 70px;
    h1,
    h6,
    h3 {
      padding: 0;
      margin: 5px;
    }
    .learning-titles {
      margin: 20px 0px 20px 0;

      .sub-title {
        color: $clr1;
      }
    }

    .learning-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .learning-item {
        width: 32%;
        // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        // box-shadow: 0px 1px 1px #de1dde;
        border-bottom: 5px solid $clr1;
        margin: 0px;
        padding: 10px;
        // border-radius: 5px;
        text-align: end;
        background-color: rgb(229, 228, 228);

        img {
          width: 100%;
          height: auto;
          // border-radius: 50%;
          // background-color: rgb(234, 185, 237);
          // padding: 10px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
      }
      .learning-item * > {
        width: 90%;
      }
      .learning-btn {
        position: relative;
        right: 18%;
        margin-right: 3rem;
        transform: translate(50%, 0);
        width: 80px;
        height: 30px;
        color: white;
        background-color: $clr1;
        border-color: $clr2;
        border-radius: 20px;
      }
    }
  }
}
