.home-page {
  //   background-color: aqua;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  //   position: relative;
  .home-image-img {
    width: 100%;
  }

  .red {
    background-color: rgb(230, 195, 236);
    margin-top: 100px;
    // padding-bottom: 50px;
    .title-background {
      // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      position: absolute;
      right: 0;
      background-color: rgb(248, 250, 215);
      background-color: orange;

      transform: translate(0, -10px);
      height: 50px;
      clip-path: polygon(100% 0, 100% 51%, 100% 100%, 0 100%, 5% 0);
      width: 60%;
    }

    .bi {
      width: 100%;
      // background-color: rgba(245, 220, 241, 0.137);

      height: 50px;
      display: flex;
      align-items: center;
      transform: translate(0, -10px);
      .hi {
        text-align: end;
        align-items: center;
        // padding: 0;
        height: auto;
        // line-height: auto;
        color: rgb(255, 255, 255);

        width: 100%;
        // position: relative;
        // background-color: rgba(0, 255, 255, 0.249);
      }
    }
    .about-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // height: 30%;

      .about {
        text-align: end;
        width: 60%;
      }

      .student-sticker {
        width: 30%;
        position: relative;
        bottom: 0px;
      }
    }
  }

  .learning-types {
    // background-color: bisque;

    text-align: center;
    .learning-titles {
      margin: 20px 0px 20px 0;
      h1,
      h6 {
        padding: 0;
        margin: 5px;
      }

      .sub-title {
        color: rgb(107, 111, 111);
      }
    }

    .learning-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .learning-item {
        width: 32%;
        // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        // box-shadow: 0px 1px 1px #de1dde;
        border-bottom: 5px solid orange;
        margin: 0px;
        padding: 10px;
        // border-radius: 5px;
        text-align: end;
        background-color: rgb(239, 239, 239);

        img {
          width: 100%;
          height: auto;
          // border-radius: 50%;
          // background-color: rgb(234, 185, 237);
          // padding: 10px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
      }
      .learning-item * > {
        width: 90%;
      }
    }
  }
}
