.logo {
  width: 100px;
}

.main-layout {
  max-width: 1200px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-left: 32px;
  padding-right: 32px;
  // max-width: 1400px;
  // margin-inline-start: auto;
  // margin-inline-end: auto;
  // padding-left: 32px;
  // padding-right: 32px;
}

.colors {
  color: rgb(77, 76, 76);
  color: rgb(150, 149, 149);
}
