// Header Breakpoints
$break-small: 600px;
$break-medium: 900px;
$break-large: 1100px;

// COLOR PALETTE
$clr1: #0aa879;
$clr2: rgb(164, 163, 163); //border color
$clr3: rgb(229, 228, 228); //background color
